<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>各等级数量</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="075275a6b4dc45aba59ab057a9598410" class="chart-container" style="width:900px; height:600px;"></div>
    <script>
        var chart_075275a6b4dc45aba59ab057a9598410 = echarts.init(
            document.getElementById('075275a6b4dc45aba59ab057a9598410'), 'white', {renderer: 'canvas'});
        var option_075275a6b4dc45aba59ab057a9598410 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u7b49\u7ea7",
            "data": [
                {
                    "name": "level1",
                    "value": 26
                },
                {
                    "name": "level2",
                    "value": 14
                },
                {
                    "name": "level3",
                    "value": 11
                },
                {
                    "name": "level4",
                    "value": 16
                },
                {
                    "name": "level5",
                    "value": 24
                },
                {
                    "name": "level6",
                    "value": 21
                }
            ],
            "sort": "ascending",
            "gap": 2,
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "level1",
                "level6",
                "level5",
                "level3",
                "level4",
                "level2"
            ],
            "selected": {
                "level1": true,
                "level2": true,
                "level3": true,
                "level4": true,
                "level5": true,
                "level6": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "B\u7ad9\u5404\u7b49\u7ea7\u6570\u91cf",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_075275a6b4dc45aba59ab057a9598410.setOption(option_075275a6b4dc45aba59ab057a9598410);
    </script>
</body>
</html>
